footer
	.container

		.footer-line


			.footer-logo
				a(href="index.html")
					picture.logo__img
						+picture_png("logo", "Лого ВетСфинкс")


			.footer-conacts

				.footer-conacts__item
					span.footer-conacts__item--address г. Москва, ул.Изюмская, <br>дом 43, корп. 3

				.footer-conacts__item
					span.footer-conacts__item--mail info@vetsfinks.ru
					span.footer-conacts__item--mail doctor@vetsfinks.ru

				.footer-conacts__item
					span.footer-conacts__item--phone 8 (499) 743-44-45
					span.footer-conacts__item--phone 8 (965) 426-42-42


			a(href="#callback").btn-link.footer-link.popup-js Перезвоните мне



	.copyright-line
		p.copyright__text Copyright © 2015 - 2018 “СФИНКС” Ветеринарный центр
