mixin hidden__input(form_subject)
	input(type="hidden" name="project_name" value="Лендинг Оценка_Авто")
	input(type="hidden" name="admin_email" value="web.marketing.shark@gmail.com")
	input(type="hidden" name="form_subject" value= form_subject)


mixin personal_data
	p.personal-text * Оставляя заявку вы даете <a href="agreement.html" target="blank" class="modal_link">согласие на обработку персональных данных</a>


//- Шаблонные миксины для изображений

mixin picture_png(img, alt)
	source(srcset="img_webp/" + img + ".webp", type="image/webp")
	img(src="img/" + img + ".png", alt= alt)

mixin picture_jpg(img, alt)
	source(srcset="img_webp/" + img + ".webp", type="image/webp")
	img(src="img/" + img + ".jpg", alt= alt)

mixin picture_gallery(img,alt)
	a(href="img/gallery/full-images/" + img + ".jpg" data-fresco-group="gallary_about").gallery-img__link.fresco
		picture
			source(srcset="img_webp/gallery/" + img + ".webp", type="image/webp")
			img(src="img/gallery/" + img + ".jpg", alt= alt)

mixin picture_articles(img,alt)
	source(srcset="img_webp/articles/" + img + ".webp", type="image/webp")
	img(src="img/articles/" + img + ".jpg", alt= alt)

mixin picture_shelter(img,alt)
	picture
		source(srcset="img_webp/shelter/" + img + ".webp", type="image/webp")
		img(src="img/shelter/" + img + ".jpg", alt= alt)


//- Миксин с настройкой

mixin picture_custom(folder, img, alt)
	picture
		source(srcset="img_webp" + folder + img + ".webp", type="image/webp" class!=attributes.class)
		img(src="img" + folder + img + ".jpg", alt= alt class!=attributes.class)



//- Миксины для таблицы

mixin age__10-2
	ul.letter-list
		li возраст до 10 дней
		li возраст с 10 дней до 2 месяца
		li возраст старше 2 месяцев

mixin one__animal
	li Одно животное

mixin one__limb
	li Одна конечность



//- Миксин для стилей адаптивности
mixin styles
	link(rel="stylesheet" media="(min-width: 1371px) and (max-width: 1950px)" href="css/1920/1920_" + page_name + ".css")
	link(rel="stylesheet" media="(min-width: 1281px) and (max-width: 1370px)" href="css/1360/1360_" + page_name + ".css")
	link(rel="stylesheet" media="(min-width: 1170px) and (max-width: 1280px)" href="css/1280/1280_" + page_name + ".css")


//- Миксин для Меню
mixin mainMenuItem(name, href)
	a(href= href)&attributes(attributes).head-nav__link= name
				
-var mainList = [{name: "Главная", href:"index.html"}, {name: "О клинике", href:"about.html"}, { name: "Услуги и цены", href:"price.html"}, {name: "Статьи", href:"articles.html"}, {name: "Приют", href:"shelter.html"}, {name: "Контакты", href:"contacts.html"}];