#alisa_cat.modal-pets.mfp-hide.mfp-with-anim
	span.modals-close-cross.mfp-close
	.modal-pets__wrap
		.pet-image.brazzers-slider-js
			picture
				+picture_custom("/shelter/shelter__pets/alisa/","1","Кошка Алиса")(class="pet-image__picture")
			picture
				+picture_custom("/shelter/shelter__pets/alisa/","2","Кошка Алиса")(class="pet-image__picture")
			picture
				+picture_custom("/shelter/shelter__pets/alisa/","3","Кошка Алиса")(class="pet-image__picture")
			picture
				+picture_custom("/shelter/shelter__pets/alisa/","4","Кошка Алиса")(class="pet-image__picture")
			picture
				+picture_custom("/shelter/shelter__pets/alisa/","5","Кошка Алиса")(class="pet-image__picture")
			
		.pet-story
			h3.modal-pets__h3 Кошечка Алиска
			p.modal-pets__text.
				А вот и наша Алиска! Девочка родилась осенью 2016 года, 
				в одном из московских домов. Уже успела повзрослеть, окотиться двумя малышами, которые по жестокой случайности погибли под колесами автомобиля...
			p.modal-pets__text.
				Однако, не смотря на все трудности дворовой жизни, Алиса выросла ласковой и нежной кошкой, готова получать порции любви от любого прохожего. Красивая, грациозная, черно-белая кошечка ищет дом и добрых, заботливых хозяев!<br>
				<b>Любит играть, подвижна, озорна. Алиска стерилизована, привита, умеет ходить на лоток.</b>
			form.modal-pets__form.callback-form
				input.modal-pets__input(type="text" placeholder="Имя" name="Имя" required)
				input.modal-pets__input(type="tel" placeholder="Телефон" name="Телефон" required).mask-phone
				button.modal-pets__button Забрать питомца


#vasilisa_cat.modal-pets.mfp-hide.mfp-with-anim
	span.modals-close-cross.mfp-close
	.modal-pets__wrap
		.pet-image.brazzers-slider-js
			picture
				+picture_custom("/shelter/shelter__pets/vasilisa/","1","Кошка Василиса")(class="pet-image__picture")
			picture
				+picture_custom("/shelter/shelter__pets/vasilisa/","2","Кошка Василиса")(class="pet-image__picture")
			picture
				+picture_custom("/shelter/shelter__pets/vasilisa/","3","Кошка Василиса")(class="pet-image__picture")

			
		.pet-story
			h3.modal-pets__h3 Кошка Василиса
			p.modal-pets__text.
				Наша красавица Василиса теперь живет в приюте при клинике.
				После всех мед. процедур и реабилитации самое время играть с другими кошками заводить друзей!
			p.modal-pets__text.
				В приюте её окружают заботой и вниманием и ей никогда не бывает скучно.
			p.modal-pets__text.
				Однако, как и любой наш питомец, она хотела бы обрести свой дом и заботливого хозяина. Если вы когда-то мечтали о пушистом домашнем друге, то мы готовы помочь вам его обрести! Приходите к нам в приют и выбирайте любимца!
			p.modal-pets__text.
				Кошка здорова, стерилизована, привита. 
			form.modal-pets__form.callback-form
				input.modal-pets__input(type="text" placeholder="Имя" name="Имя" required)
				input.modal-pets__input(type="tel" placeholder="Телефон" name="Телефон" required).mask-phone
				button.modal-pets__button Забрать питомца



#rysia_cat.modal-pets.mfp-hide.mfp-with-anim
	span.modals-close-cross.mfp-close
	.modal-pets__wrap
		.pet-image.brazzers-slider-js
			picture
				+picture_custom("/shelter/shelter__pets/rysia/","1","Кошка Рыся")(class="pet-image__picture")
			picture
				+picture_custom("/shelter/shelter__pets/rysia/","2","Кошка Рыся")(class="pet-image__picture")
			picture
				+picture_custom("/shelter/shelter__pets/rysia/","3","Кошка Рыся")(class="pet-image__picture")

			
		.pet-story
			h3.modal-pets__h3 Кошка Рыся
			p.modal-pets__text.
				Вы уже могли видеть Рысю ,если смотрите нашу ленту в Инстаграмме.
				Эта кошечка живет в нашем приюте.
			p.modal-pets__text.
				Когда Рыся только появилась у нас, она была запуганной и не подпускала к себе людей.
				Прошло время, прежде чем кошка оттаяла и начала доверять сотрудникам приюта.
			p.modal-pets__text.
				Общество других кошек и хороший уход в приюте вернули ей уверенность в себе и веру в людей)
			p.modal-pets__text.
				Теперь Рыся с удовольствием дает себя гладить и держать на руках. С каждым днем она становится всё более домашней и ручной!
				
			form.modal-pets__form.callback-form
				input.modal-pets__input(type="text" placeholder="Имя" name="Имя" required)
				input.modal-pets__input(type="tel" placeholder="Телефон" name="Телефон" required).mask-phone
				button.modal-pets__button Забрать питомца




#marta_cat.modal-pets.mfp-hide.mfp-with-anim
	span.modals-close-cross.mfp-close
	.modal-pets__wrap
		.pet-image.brazzers-slider-js
			picture
				+picture_custom("/shelter/shelter__pets/marta/","1","Кошка Марта")(class="pet-image__picture")

			
		.pet-story
			h3.modal-pets__h3 Кошечка Марта
			p.modal-pets__text.
				Наш приют пополнился новой пушистой любимицей!<br>
				Знакомьтесь с Мартой!<br>
				Прекрасная серо-белая кошка ищет дом и любящего хозяина.<br>
				Марте 5 месяцев. Она здорова и привита, приучена к лотку. Не доставит проблем в содержании, уходе и кормлении.
				
			form.modal-pets__form.callback-form
				input.modal-pets__input(type="text" placeholder="Имя" name="Имя" required)
				input.modal-pets__input(type="tel" placeholder="Телефон" name="Телефон" required).mask-phone
				button.modal-pets__button Забрать питомца



#chonia_cat.modal-pets.mfp-hide.mfp-with-anim
	span.modals-close-cross.mfp-close
	.modal-pets__wrap
		.pet-image.brazzers-slider-js
			picture
				+picture_custom("/shelter/shelter__pets/chonia/","1","Кошка Чоня")(class="pet-image__picture")
			picture
				+picture_custom("/shelter/shelter__pets/chonia/","2","Кошка Чоня")(class="pet-image__picture")
			picture
				+picture_custom("/shelter/shelter__pets/chonia/","3","Кошка Чоня")(class="pet-image__picture")

			
		.pet-story
			h3.modal-pets__h3 Кошечка Чоня
			p.modal-pets__text.
				Познакомьтесь с Чоней!<br>
				Эту симпатичную черную кошку когда-то давно нашли в подвале жилого дома волонтеры. Она была испуганным котенком - боялась людей и шипела, когда её пытались взять на руки.
			p.modal-pets__text.
				Такой она попала к нам в кошачий приют и живет с нами уже несколько месяцев.<br>
				Кошка сильно преобразилась! От испуганно котенка не осталось и следа, а вместо него появилась гиперактивная Чоня, которая не дает скучать всем обитателям приюта.<br>
				Кошка очень ласковая и приучена к лотку.<br>
				Не стерилизована, т.к. еще мал возраст.
				
			form.modal-pets__form.callback-form
				input.modal-pets__input(type="text" placeholder="Имя" name="Имя" required)
				input.modal-pets__input(type="tel" placeholder="Телефон" name="Телефон" required).mask-phone
				button.modal-pets__button Забрать питомца



#constantine_cat.modal-pets.mfp-hide.mfp-with-anim
	span.modals-close-cross.mfp-close
	.modal-pets__wrap
		.pet-image.brazzers-slider-js
			picture
				+picture_custom("/shelter/shelter__pets/constantine/","1","Кот Константин")(class="pet-image__picture")
			picture
				+picture_custom("/shelter/shelter__pets/constantine/","2","Кот Константин")(class="pet-image__picture")
			picture
				+picture_custom("/shelter/shelter__pets/constantine/","3","Кот Константин")(class="pet-image__picture")
			picture
				+picture_custom("/shelter/shelter__pets/constantine/","4","Кот Константин")(class="pet-image__picture")

			
		.pet-story
			h3.modal-pets__h3 Котик Константин
			p.modal-pets__text.
				Познакомьтесь с Константином! Добрый, но боевой кот. Любит гулять, познавать окружающий мир, знакомиться с новыми территориями. По-настоящему боевой красавец - ничего и никого не боится!
			p.modal-pets__text.
				Ручной, очень любит сидеть на плече у хозяина, ласковый. Знает лоток, кушает сухой корм.
			p.modal-pets__text.
				Константин мечтает обрести новый дом с добрым и заботливым хозяином, которому сможет стать настоящим преданным другом!
				
			form.modal-pets__form.callback-form
				input.modal-pets__input(type="text" placeholder="Имя" name="Имя" required)
				input.modal-pets__input(type="tel" placeholder="Телефон" name="Телефон" required).mask-phone
				button.modal-pets__button Забрать питомца



#fenia_dog.modal-pets.mfp-hide.mfp-with-anim
	span.modals-close-cross.mfp-close
	.modal-pets__wrap
		.pet-image.brazzers-slider-js
			picture
				+picture_custom("/shelter/shelter__pets/fenia/","1","Собака Феня")(class="pet-image__picture")
			picture
				+picture_custom("/shelter/shelter__pets/fenia/","2","Собака Феня")(class="pet-image__picture")
			picture
				+picture_custom("/shelter/shelter__pets/fenia/","3","Собака Феня")(class="pet-image__picture")
			picture
				+picture_custom("/shelter/shelter__pets/fenia/","4","Собака Феня")(class="pet-image__picture")
			picture
				+picture_custom("/shelter/shelter__pets/fenia/","5","Собака Феня")(class="pet-image__picture")

			
		.pet-story
			h3.modal-pets__h3 Собака Феня
			p.modal-pets__text.
				Познакомьтесь с Феней!<br>
				Эту собаку нам принесли волонтеры из поселка Видное.
			p.modal-pets__text.
				Собака здорова, стерилизована, привита.<br>
				Она - дворняжка с окрасом овчарки.
			p.modal-pets__text.
				Верный, преданный, смышленый и очень забавный четырехлапый друг может стать вашим!
				Она вытащит вас из дома на утреннюю прогулку, не доставит проблем в содержании и всегда будет вас радостно встречать по возвращению домой!<br>
				<b>Последние новости:</b> Феню забрали к себе жить новые заботливые хозяева.
				
			form.modal-pets__form.callback-form
				input.modal-pets__input(type="text" placeholder="Имя" name="Имя" required)
				input.modal-pets__input(type="tel" placeholder="Телефон" name="Телефон" required).mask-phone
				button.modal-pets__button Забрать питомца