section.another-articles-section
	.container
		.article-text__wrap
			.title-h2-line
				h2.article-h2 Другие статьи

		.another-articles__wrap


			a(href="inoculation-puppy.html").articles-enumerations__item
				picture.articles-enumeration__picture
					+picture_articles("preview__image-1","Когда пора делать прививки щенкам?")

				.articles-enumeration__descriptor
					h5.articles-enumeration__h5 Когда пора делать прививки щенкам?
					p.articles-enumeration__date 05.04.2018
					p.articles-enumeration__pseudo-link Узнать подробнее


			a(href="right-left-hended-cats.html").articles-enumerations__item
				picture.articles-enumeration__picture
					+picture_articles("preview__image-2","Ученые обнаружили среди кошек «правшей» и «левшей»")

				.articles-enumeration__descriptor
					h5.articles-enumeration__h5 Ученые обнаружили среди кошек «правшей» и «левшей»
					p.articles-enumeration__date 05.04.2018
					p.articles-enumeration__pseudo-link Узнать подробнее


			a(href="registation-pets.html").articles-enumerations__item
				picture.articles-enumeration__picture
					+picture_articles("preview__image-3","Акция 'Скидка 10% для владельцев социальных карт'")

				.articles-enumeration__descriptor
					h5.articles-enumeration__h5 Регистрация домашних животных станет платной и обязательной
					p.articles-enumeration__date 05.04.2018
					p.articles-enumeration__pseudo-link Узнать подробнее