extends ../common_parts/common_template.pug

block vars
	- var title = "Как почистить зубы собаке"
	- var description = "Как почистить зубы собаке - расскажем на нашем сайте"
	- var keywords = "Как почистить зубы собаке"

	- var pageId = 4
	- var page_name = "article__template"

block main

	section.top-content-section
		.container
			.article-general-pic
				+picture_articles("чистка-зубов-собаке/brushing-teeth-dog","Как почистить зубы собаке")


	section.top-content-section
		.container
			.article-text__wrap
				.article__top-title-line
					h1.article__h1 Как почистить зубы собаке
				p.
					Чтобы собака всегда была здоровой и ухоженной, ее необходимо с раннего возраста приучать к гигиеническим процедурам. Почистить зубы домашней любимице можно самостоятельно, не прибегая к помощи специалистов-профессионалов. Каждый собаковод легко и просто может освоить подобную процедуру, и тогда его пес избежит многих проблем в состоянии здоровья.
				h2 Инвентарь для процедуры
				p.
					Заранее подготовьте необходимые предметы для чистки зубов собаке.
				p.
					Вам понадобятся:
				ul.orange__list
					li Специальная зубная паста для собак либо приготовленная в домашних условиях смесь на основе соды с лимонным соком и мелом
					li Зубная щетка
					li Глубокая посудина
					li Щетка-наперсток для массажа
					li Масло арахиса
					li Бинт или марлевый отрез
				h2 Процесс чистки зубов собаке
				p.
					Научиться чистить хвостатому питомцу зубы несложно. И с каждым разом у вас это будет получаться все легче и быстрее. Итак, следуйте нашей инструкции:
				ul.orange__list
					li Приготовьте пасту и зубную щетку. Во время чистки зубов обычно пес всегда заглатывает зубную пасту, поэтому не применяйте для этой процедуры средства, предназначенные для чистки зубов у человека. Купите питомцу специальную пасту с приятными вкусовыми качествами и запахами, имитирующими мясные продукты. Ее изготавливают, учитывая состав эмали зубов и слюны собаки. Многие собаководы готовят из подручных средств пасту, в составе которой есть сок лимона, сода и белый мел. Щетку можно применить обычную или приобрести в зоологическом магазине специальную.
					li На этом этапе вам будет необходим товарищ, который поможет подержать собаку. Или попробуйте посадить ее в глубокую пластиковую посудину с таким расчетом, чтобы снаружи выглядывала только голова песика.
					li Предварительно дайте собаке попробовать небольшой кусочек пасты, далее смажьте средством ее десны.
					li С той стороны челюсти пса, с которой вы будете чистить зубы, оттяните двумя пальцами кожу.
					li Разделите визуально на боковые и фронтальную части верхнюю и нижнюю челюсть собаки.
					li На всю поверхность зубной щетки нанесите зубную пасту или приготовленную в домашних условиях смесь.
					li Чтобы лучше и тщательнее прочистить основание зубов у пса, держите щетку под углом сорок пять градусов.
					li Чистку зубов у собаки делайте следующим образом: начните с внутренней поверхности зубов с левой стороны, далее почистите внешнюю сторону и жевательную часть, затем по той же схеме переходите на нижнюю челюсть.
					li Производите возвратно-поступательные, круговые, скребущие и подметающие движения не менее десяти раз на каждый зуб.
					li Зубы следует чистить четвероногому другу строго вверх-вниз. Чистка по поперечной оси только разнесет грязь по челюсти животного.
					li В местах наиболее частого образования зубного камня (зубы верхней челюсти) следует проводить чистку более тщательно.
					li С целью интенсивного обращения крови и лимфы сделайте своему псу массаж десен.
					li По завершении процедуры чистки зубов наденьте щеточку-наперсток для массажа на палец.
					li Массажными движениями пройдитесь по деснам собаки сначала вверх-вниз, затем сделайте круговой массаж.
					li Массировать десны псу можно пальцами, смоченными в масле арахиса.
					li Зубы животному чистить необходимо два раза в неделю.
					li Маленькому щенку нет необходимости молочные зубки чистить вообще. Протирать можно только десны, тем самым приучая его к серьезной будущей чистке зубов без стрессов и непослушания.
					li Чем-нибудь вкусненьким поощрите питомца за проявленную выдержку и терпение по окончании процесса чистки и массажа зубов.
				p.
					Наши «братья меньшие» страдают аналогичными с нами стоматологическими заболеваниями. Только вот сами о себе они позаботиться не могут. Поэтому владелец должен обеспечить нормальный уход за животным и регулярно проводить чистку его зубов. Выполняйте указанные процедуры, придерживайтесь советов — и у вашей собаки будут всегда здоровые и крепкие зубы. Любите своих домашних питомцев, проявляйте к ним внимание, заботу и чуткость.
				p.
					Материал предоставлен сайтом <a href="http://pitomcy.net">"Питомцы"</a>


				
	include __modules-another-articles.pug

		