extends ../common_parts/common_template.pug

block vars
	- var title = "Высотные травмы и как их избежать - не даем кошкам полетать :)"
	- var description = "Высотные травмы и как их избежать - расскажем на нашем сайте"
	- var keywords = "Высотные травмы и как их избежать"

	- var pageId = 4
	- var page_name = "article__template"

block main

	section.top-content-section
		.container
			.article-general-pic
				+picture_articles("не-даем-кошке-падать-из-окна/cat-on-the-windowsill","Высотные травмы и как их избежать")


	section.top-content-section
		.container
			.article-text__wrap
				.article__top-title-line
					h1.article__h1 Высотные травмы и как их избежать
				p.
					С началом тёплого весеннего сезона учащаются случаи высотных травм.
				p.
					Главная мера предосторожности — бдительность: с наступлением тепла нужно ставить на окна сетки Антикошка (аналог москитных, но значительно прочнее, чтобы выдерживали вес животного и воздействие острых когтей).

				p.
					Внимательно следите за животным, если затеяли мытьё окон, а при проветривании помещений лучше запереть кошку в отдельной комнате, если сетки ещё не установлены. Если все же случилась беда, как только Вы нашли животное нужно немедленно доставить его в ветеринарную клинику.
				p.
					Для этого подготовьте жёсткую переноску или любую другую твердую поверхность для транспортировки. Старайтесь как можно меньше двигать животное. Не нужно тормошить кошку, пытаясь привести ее в чувство, самостоятельно пытаться сделать непрямой массаж сердца или каким-либо образом «поправить» видимые повреждения.

				p.
					Животное может быть вялым как вследствие различных внутренних травм, так и из-за шока, который наряду с механическими повреждениями может привести к гибели животного и требует немедленного медикаментозного купирования. Если присутствует кровотечение, следует закрыть рану повязкой или бинтовым тампоном на время поездки до клиники. Нормальное поведение кошки после падения и отсутствие видимых повреждений не отменяет поездку к врачу, так как множество скрытых травм можно диагностировать только с помощью дополнительных методов исследования. Главное в случае падения с высоты не паниковать и безотлагательно доставить животное в клинику. Поверьте, врачи знают что делать, и не раз и не два вытаскивали «летунов» даже с очень серьезными повреждениями.
				
				p.
					Материал предоставлен источником - <a href="https://vet-dom.ru/">vet-dom.ru</a>



				
	include __modules-another-articles.pug

		