extends ../common_parts/common_template.pug

block vars
	- var title = "Когда требуется профессиональное лечение кошки"
	- var description = "Когда требуется профессиональное лечение кошки - расскажем на нашем сайте"
	- var keywords = "Когда требуется профессиональное лечение кошки"

	- var pageId = 4
	- var page_name = "article__template"

block main

	section.top-content-section
		.container
			.article-general-pic
				+picture_articles("когда-кошку-вести-осмотр/cat-medical-check-up","Когда требуется профессиональное лечение кошки")


	section.top-content-section
		.container
			.article-text__wrap
				.article__top-title-line
					h1.article__h1 Когда требуется профессиональное лечение кошки
				p.
					Если Вы замечаете, что ваш любимец ведет себя вяло, мало ест, обратитесь к ветеринару, возможно, это признаки развития заболевания и потребуются иные зооуслуги. Одним из самых страшных диагнозов является инфекционный перитонит. Из признаков заболевания можно выделить резкое снижение веса, отсутствие аппетита, лихорадочное состояние. К сожалению, случаи исцеления очень редки, большинство животных не выживает. Среди котят достаточно распространена «чумка» (панлейкопения). Вирус попадает воздушно-капельным путем, через загрязненную воду и пищу. Зараженное животное практически не пьет, выглядит вялой, отказывается от еды. Справиться с недугом помогают назначенные ветеринаром процедуры, а также введение инъекций.
				p.
					При инфекции мочеполовой системы на начальной стадии симптомы практически незаметны. В запущенной стадии почки теряют возможность улавливать и удалять из организма токсины, ядовитые вещества накапливаются в организме и отправляют его. Возникает хроническая почечная недостаточность. При мочекаменной болезни питомец часто и безрезультатно пытается сходить в туалет, возникает острая задержка мочи, которая также может привести к гибели животного. Чаще всего животному назначается интенсивный курс лечения под наблюдением ветеринарного врача.
				h2 Самолечение
				p.
					Есть и такие болезни, при которых лечение кошек под наблюдением специалиста необязательно. Например, диарея, продолжительностью не более суток. В данном случае необходимо сократить количество воды и еды животного. Самая распространенная проблема домашних любимцев - глисты. Об их наличии свидетельствует отсутствие аппетита, рвота, диарея, наличие личинок в кале. Для борьбы с паразитами существуют специальные препараты, которые можно давать кошке самостоятельно. Обязательно проведите обследование для себя и своей семьи. Для предотвращения развития любых заболеваний у Вашего любимца обращайтесь к нам за услугами ветеринарной клиники.
				
				
	include __modules-another-articles.pug

		