extends ../common_parts/common_template.pug

block vars
	- var title = "Как правильно делать прививки собаке: простые правила вакцинации"
	- var description = "Как правильно делать прививки собаке: простые правила вакцинации - расскажем на нашем сайте"
	- var keywords = "Как правильно делать прививки собаке: простые правила вакцинации"

	- var pageId = 4
	- var page_name = "article__template"

block main

	section.top-content-section
		.container
			.article-general-pic
				+picture_articles("щенки-прививка/inoculation-puppy","Как правильно делать прививки собаке: простые правила вакцинации")


	section.top-content-section
		.container
			.article-text__wrap
				.article__top-title-line
					h1.article__h1 Как правильно делать прививки собаке: простые правила вакцинации
				p.
					Вы стали владельцем собаки, а это означает, что теперь вы полностью отвечаете за здоровье и благополучие вашего питомца.
				p.
					Ответственный хозяин не только тот, который правильно кормит, выгуливает и занимается воспитанием собаки, но и тот, который постоянно следит за состоянием здоровья своего любимца.
				p.
					Наибольшую опасность для здоровья собак представляют инфекционные заболевания. Очень часто они даже становятся причиной гибели животного. Единственно эффективным способом профилактики грозных заболеваний является вакцинирование.
				p.
					Итак, от каких болезней нужно делать прививки собакам и как это делать правильно?
				h2 Самые распространенные инфекционные заболевания собак:
				ul.orange__list
					li чума плотоядных
					li парвовирусный энтерит
					li парагрипп
					li инфекционный гепатит
					li лептоспироз
					li бешенство
				p.
					Для их профилактики существует много вакцин, отличающихся производителем, валентностью, стоимостью.
				p.
					На особом счету стоит бешенство – крайне опасно инфекционное заболевание, которым может заболеть и человек. Прививки от бешенства делаются согласно общих правил, начиная с 3-месячного возраста собаки.
				h2 Какими вакцинами лучше пользоваться
				p.
					Лучше всего себя зарекомендовали Нобивак, Дурамун, Вангард, Эурикан. Многие собаководы пользуются более дешевыми или отечественными вакцинами.
				p.
					Сказать однозначно, какие из них лучше, сложно. «Пробивать» (собака заболевает, несмотря на сделанную прививку) может любую вакцину, 100 %-ной гарантии не дает ни один производитель. Но все же шансы заболеть у привитого животного очень малы, а заболев, такая собака переносит болезнь куда легче непривитой.
				h2 Прививки нельзя делать, если:
				ul.orange__list
					li собака истощена
					li собака уже болеет или ослаблена только что перенесенной болезнью
					li у собаки глистная инвазия (зараженность глистами)
					li у щенка идет смена зубов
					li за 2 недели до и 2 недели после купирования ушей
				h2 Перед любой прививкой нужно избавляться от глистов
				p.
					Глисты сильно снижают иммунитет у собаки, и прививка может оказаться просто неэффективной. Поэтому запомните просто правило: за 10-14 дней перед любой прививкой собаке нужно обязательно прогонять глистов.
				h2 Прививки лучше делать у ветеринарного врача
				p.
					Даже если вы умеете самостоятельно ставить уколы, в случае с вакцинацией собаки лучше обратиться к ветеринарному врачу. Идеальный вариант — вызов на дом специалист из проверенной, хорошо зарекомендовавшей себя ветеринарной клиники.
				p.
					При вакцинации огромную роль играют условия хранения вакцины, особенно температурный режим. Вакцина, которая лежала на складе или перевозилась при температурах, не соответствующих требованиям, превращается в обычную воду, на защиту которой уже рассчитывать нельзя.
				p.
					Клиника, которая дорожит своей репутацией, никогда не допустит покупки вакцины у непроверенного или недобросовестного поставщика и уже тем более не станет сама нарушать режим хранения.
				p.
					Если вы все же решили прививать собаку самостоятельно, обязательно проверьте сроки годности и не забудьте взять лед, чтобы привезти вакцину домой. Дома сразу же положите ее в холодильник (не в морозилку!). Обычно прививки делаются подкожно (в холку), но при покупке вакцины уточните все детали.
				p.
					Прививка от бешенства делается только ветеринарным врачом в клинике, о чем делается обязательная отметка в ветеринарном паспорте и специальных реестрах для контроля над этой опасной инфекцией.  Реестры ежемесячно передаются в государственные ветеринарные учреждения, где потом и хранятся.
				h2 Первая вакцинация делается двукратно, с 21-дневным интервалом
				p.
					Неважно, вакцинируете вы щенка или первый раз взрослую собаку, первая вакцинация делается двукратно по схеме:
				ul.orange__list
					li глистогонное (для глистогонки щенка используем специальные средства)
					li повтор глистогонного через 2 недели после первой прогонки глистов
					li первая прививка (на 10-14 день после второй дачи глистогонного)
					li вторая прививка (на 21 день после первой прививки)
				p.
					Вторая прививка обязательно должна быть идентичной той, которую кололи первой! Разница в штаммах и их количестве (вакцины бывают от 1, 3, 5, даже 7 болезней) может стать фатальной для здоровья собаки.
				p.
					Поэтому вклейте или проследите за тем, чтобы ветеринар вклеил в ветеринарный паспорт вашей собаки наклейки с флакончиков первой вакцины, чтобы он потом мог уколоть точно ту вакцину, что и первый раз.
				p.
					Если же вы делаете прививку самостоятельно, покупайте сразу две одинаковых дозы.
				h2 На время вакцинации нужен карантин
				p.
					Иммунитет при вакцинации не вырабатывается мгновенно. Вакцина представляет собой специальный раствор, в котором содержится некоторое количество ослабленного возбудителя заболеваний. Иммунная система распознает чужеродные тела и начинает с ними бороться. Организм вырабатывает специфические антитела, которые будут готовы отразить нападение в случае угрозы настоящего заражения.
				p.
					Выработка антител происходит в течение некоторого времени после прививки — обычно от  8 до 14 дней. В это время собака может чувствовать легкое недомогание. Поэтому крайне важно следить за тем, чтобы животное не подвергалось дополнительной угрозе извне.
				p.
					Постарайтесь избегать в период вакцинации контакта с другими собаками, прогулок в местах массового скопления животных (дрессировочных площадок или мест для выгула), посещений без особой надобности ветеринарных клиник, ведь туда приводят и больных животных. Особенно актуальна эта рекомендация для владельцев щенков, которые делают им первую прививку.
				p.
					Не стоит также нагружать собаку чрезмерными активными прогулками, дрессировкой, повремените с купанием (место прививки постарайтесь не мочить хотя бы несколько дней).
				p.
					Внимательно наблюдайте за своей собакой и немедленно обращайтесь к ветеринару в случае ухудшения состояния животного.
				p.
					После выработки иммунитета можете смело вернуться к прежнему образу жизни — ваш питомец уже защищен!
				h2 Прививки обновляются ежегодно
				p.
					Ревакцинацию (обновление прививок) необходимо делать ежегодно. Запомните, запишите, а лучше заведите ветеринарный паспорт своей собаке, куда вы или ветврач будет ставить отметки о введенной вакцине и дату вакцинации.
				p.
					Вторая и последующая вакцинация делаются единоразово, также с обязательной предварительной прогонкой глистов.
				p.
					Материал предоставлен источником - <a href="http://vashasobaka.com.ua">"сайт о собаках"</a>



				
	include __modules-another-articles.pug

		