extends ../common_parts/common_template.pug

block vars
	- var title = "Регистрация домашних животных станет платной и обязательной"
	- var description = "Регистрация домашних животных станет платной и обязательной с 2017 года. Конкретную сумму, которые должны будут заплатить владельцы домашних животных — кошек и собак, — депутат назвать пока затруднился."
	- var keywords = "Регистрация домашних животных"

	- var pageId = 4
	- var page_name = "article__template"

block main

	section.top-content-section
		.container
			.article-general-pic
				+picture_articles("статья-регистрация-домашних-животных/registation-pets","Регистрация домашних животных станет платной и обязательной")


	section.top-content-section
		.container
			.article-text__wrap
				.article__top-title-line
					h1.article__h1 Регистрация домашних животных станет платной и обязательной
				p
					b Регистрация домашних животных станет платной и обязательной 05.12.2017 07:18
				p.
					По его словам, которые приводит <a href="ria.ru">РИА «Новости»</a>, законопроект будет внесен вместе с «проектом подзаконного акта, правил учета и идентификации животных». 
				p.
					Конкретную сумму, которые должны будут заплатить владельцы домашних животных — кошек и собак, — депутат назвать пока затруднился.
				p.
					При этом, оговорился Панов, «мы с вами прекрасно понимаем, что начать и сказать: «Уважаемые владельцы животных, за два дня зарегистрируйте ваше животное» - это неправильно и будет выглядеть, скажем так, неуважительно по отношению к владельцам животных».
				p.
					Законопроектом будет предполагаться, что владелец домашнего животного может либо согласиться на его добровольное чипирование, либо просто зафиксировать факт владения животным в специальном реестре. Панов не пояснил, будут ли введены санкции против тех, кто этого делать не станет.
				p.
					Причиной появления документа депутат назвал поведение ряда хозяев, выбрасывающих своих животных на улицу, а также уходящих от ответственности, если те причинили ущерб здоровью или имуществу граждан.
				
	include __modules-another-articles.pug

		