extends ../common_parts/common_template.pug

block vars
	- var title = "Ученые обнаружили среди кошек правшей и левшей"
	- var description = "Правши и левши есть не только среди людей, но и среди кошек. К такому выводу пришли ученые из Королевского университета в Белфасте (Великобритания)"
	- var keywords = "Среди кошек есть правши и левши"

	- var pageId = 4
	- var page_name = "article__template"

block main

	section.top-content-section
		.container
			.article-general-pic
				+picture_articles("статья_кошки-правши-левши/right-handed-left-cats","Ученые обнаружили среди кошек правшей и левшей")


	section.top-content-section
		.container
			.article-text__wrap
				.article__top-title-line
					h1.article__h1 Среди кошек есть правши и левши
				p.
					Правши и левши есть не только среди людей, но и среди кошек. К такому выводу пришли ученые из Королевского университета в Белфасте (Великобритания). Они долгое время наблюдали за домашними животными и заметили, что около 70% кошек выбирают определенную лапу, для того чтобы начать какое-то действие. Исследование опубликовано в журнале Animal Behaviour.
				p.
					Приветливый персонал ветеринарного центра "СФИНКС" всегда встретит вас улыбкой и поможет максимально решить любой возникший вопрос, от питания и ухода за вашими питомцами до диагностики и лечения выявленных у них заболеваний.
				h2 Как определить левшей и правшей среди кошек?
				p.
					В эксперименте приняли участие 44 домашние кошки в возрасте от 1 года до 17 лет. К слову, 20 из них были самками. Хозяева должны были наблюдать за действиями своих питомцев в течение трех месяцев. В частности, им необходимо было записывать, на каком боку обычно лежит животное, с какой лапы начинает спускаться по лестнице, а с какой предпочитает забираться на невысокие поверхности, такие как лоток или лежанка на полу. Также кошки прошли тестирование. Перед ними поставили трехъярусный контейнер с отверстиями, куда помещалась только одна лапка, и предложили взять из него еду.
				p.
					В итоге было сделано не менее 50 заметок по каждому действию. Ведущую лапу обнаружили у большинства домашних животных. Так, 73% предпочитали пользоваться ей, доставая из контейнера корм, 70% спускались вниз с левой или правой лапы, а 66% — поднимались на небольшую высоту. При этом лежать на определенном боку нравилось лишь 25% кошек.
				h2 Выбор левой или правой лапы зависит от…
				p.
					Исследователям пока не ясно, что именно делает кошек правшами и левшами. По одной из версий, выбор левой или правой лапы зависит от пола животного: большинство самцов, участвующих в эксперименте, оказалось левшами, а самок — правшами. Также специалисты считают, что такие предпочтения могут быть связаны с определенной реакцией питомца на источники страха. Так, кошки-левши оказались менее устойчивы к стрессу и более склонны к агрессии по сравнению с кошками-правшами.
				p.
					Исследователям пока не ясно, что именно делает кошек правшами и левшами. По одной из версий, выбор левой или правой лапы зависит от пола животного: большинство самцов, участвующих в эксперименте, оказалось левшами, а самок — правшами. Также специалисты считают, что такие предпочтения могут быть связаны с определенной реакцией питомца на источники страха. Так, кошки-левши оказались менее устойчивы к стрессу и более склонны к агрессии по сравнению с кошками-правшами.
				p.
					Так ли это, покажут дальнейшие исследования.
				p.
					Ранее зоологи обнаружили «правшей» и «левшей» среди пчел и китов.
				
	include __modules-another-articles.pug

		