extends ../common_parts/common_template.pug

block vars
	- var title = "Особенности стрижки когтей у собак"
	- var description = "Особенности стрижки когтей у собак - расскажем на нашем сайте"
	- var keywords = "Особенности стрижки когтей у собак"

	- var pageId = 4
	- var page_name = "article__template"

block main

	section.top-content-section
		.container
			.article-general-pic
				+picture_articles("стрижка-когтей-собаке/shearing-claws-dog","Особенности стрижки когтей у собак")


	section.top-content-section
		.container
			.article-text__wrap
				.article__top-title-line
					h1.article__h1 Особенности стрижки когтей у собак
				p.
					Собакам, которые регулярно бегают по твердой поверхности, дополнительный уход за когтями, как правило, не потребуется. Во время бега они стачиваются до нормальной длины.
				p.
					Однако таких собак не много и в основном наши питомцы гуляют по траве газонов или вовсе на руках хозяев, как представители декоративных пород. Когти таких собак отрастают слишком длинными и их надо обязательно подстригать.
				h2 Почему необходима стрижка когтей у собак?
				p.
					У некоторых пород существуют рудиментарные когти на пятом пальце. Они вообще не соприкасаются с почвой и не стачиваются, а потому требуют особого внимания. Они в процессе роста могут закругляться и в результате проколоть подушечку, что вызовет у собаки болезненные ощущения и даже хромоту.
				p.
					Также слишком длинные когти могут обламываться, вызывая обильные кровотечения и боль.
				p.
					Если собака по дому передвигается не тихо, а цокает, словно лошадка, — это признак того, что ей пора стричь когти.

				p.
					Для их подрезания лучше использовать специальный инструмент — «когтерезки» или триммер. Существует два типа когтерезок: гильотинные и с серповидными лезвиями. Первые предназначены для небольших собак, а второй тип для толстых и прочных когтей крупных собак. После обрезки когтей их необходимо подточить пилочкой.
				p.
					Когти стригут собачьи грумеры одновременно со стрижкой или отдельно по желанию хозяина. Хотя это вполне по плечу и в домашних условиях. Здесь важно только правильно распознать, где излишек когтя, а где его важная составляющая.
				p.
					Проблема в том, что когти собаки внутри не полые. И если слишком много когтя отрезать, можно повредить живые ткани и вызвать заражение крови.
				p.
					Кроме того, собака может испугаться самого инструмента и процесса стрижки когтей и при виде человека с когтерезом впадать в истерику.
				h2 Стрижка когтей у собак в домашних условиях
				ul.orange__list
					
					li Для того, чтобы в домашних условиях подрезать собаке когти самостоятельно, необходимо найти высококачественный триммер. Собака должна быть хорошо зафиксирована, чтобы в ненужный момент не могла дернуть лапой.
					li Взяв в руки лапу, нужно надавить на подушечки пальцев, чтобы когти удлинились. Границу чувствительного участка на светлых и чистых когтях определить легко — по ее розовому цвету.
					li Когти нужно остригать до этой границы под углом в 45 градусов, при этом кончик кусачек должен смотреть на кончик когтя.
					li Если у собаки когти темные, то их нужно срезать постепенно, слоями, до тех пор, пока в центре сечения не появится черная точка. Вот это начало той границы, перед которой необходимо остановиться. Всегда лучше доходить до этой точки, поскольку с каждой стрижкой чувствительный участок будет уходить вглубь когтя, с каждым разом позволяя отстригать коготь все короче.
				p.
					Если в результате стрижки на когтях возникли сколы, коготь нужно ошлифовать пилочкой.
				ul.orange__list
					li Если собака переносит процедуру терпеливо, можно одновременно обработать все четыре лапы. Если она боится, то можно сделать перерыв.
					li Если все-таки случайно срезан чувствительный участок, то лучше воспользоваться кровоостанавливающим порошком.
					li Когти лучше стричь понемногу, но регулярно, например, еженедельно.
				p.
					Материал предоставлен источником - <a href="http://dogsecrets.ru/">dogsecrets.ru</a>



				
	include __modules-another-articles.pug

		