.price-table__row
	.price-table__row__table-cell.price-table__row__table-cell--table-headers.price-table__row__table-cell--full-header
		h4.price-table__h4 Клиника


.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Глюкометрия


	.price-table__row__table-cell
		ul.units-list
			li Один анализ (5 мин)
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 200 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Отодектоз


	.price-table__row__table-cell
		ul.units-list
			li Один анализ (5 мин)
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 500 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Отодектоз, саркоптоз, демодекоз


	.price-table__row__table-cell
		ul.units-list
			li Комплекс (15 мин)
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 500 р.



.price-table__row
	.price-table__row__table-cell.price-table__row__table-cell--table-headers.price-table__row__table-cell--full-header
		h4.price-table__h4 Исследование крови



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Кровь, общеклиническое исследование


	.price-table__row__table-cell
		ul.units-list
			li Один анализ (24 часа)
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 800 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Кровь, лейкоцитарная формула


	.price-table__row__table-cell
		ul.units-list
			li Один анализ (24 часа)
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 480 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Подсчет ретикулоцитов + общий анализ крови


	.price-table__row__table-cell
		ul.units-list
			li Один анализ (24 часа)
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 900 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Биохимический анализ крови по 1 выборочному показателю


	.price-table__row__table-cell
		ul.units-list.units-list--small
			li Один показатель (24 часа)
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 75 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Амилаза


	.price-table__row__table-cell
		ul.units-list.units-list--small
			li Один показатель (24 часа)
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 160 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 СОЭ


	.price-table__row__table-cell
		ul.units-list.units-list--small
			li Один показатель (24 часа)
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 150 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Липаза


	.price-table__row__table-cell
		ul.units-list.units-list--small
			li Один показатель (24 часа)
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 460 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Малая биохимия, 10показателей + 3 расчетных


	.price-table__row__table-cell
		ul.units-list
			li 1 день
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 600 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Стандартная биохимия, 16 показателей + 4 расчетных


	.price-table__row__table-cell
		ul.units-list
			li 1 день
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 1 200 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Большая биохимия, 28 показателей + 4 расчетных


	.price-table__row__table-cell
		ul.units-list
			li 1 день
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 1 700 р.



.price-table__row
	.price-table__row__table-cell.price-table__row__table-cell--table-headers.price-table__row__table-cell--full-header
		h4.price-table__h4 Исследование мочи



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Моча, общеклиническое исследование


	.price-table__row__table-cell
		ul.units-list
			li Один анализ (24 часа)
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 500 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Моча, исследование осадка


	.price-table__row__table-cell
		ul.units-list.units-list--small
			li Один показатель (24 часа)
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 230 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Моча, соотношение кортизола к креатинину


	.price-table__row__table-cell
		ul.units-list
			li Один анализ (24 часа)
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 650 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Моча, соотношение белка к креатинину


	.price-table__row__table-cell
		ul.units-list
			li Один анализ (24 часа)
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 200 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Мочевые камни, химический анализ


	.price-table__row__table-cell
		ul.units-list
			li Один анализ (24 часа)
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 1 300 р.



.price-table__row
	.price-table__row__table-cell.price-table__row__table-cell--table-headers.price-table__row__table-cell--full-header
		h4.price-table__h4 Исследование кала



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Кал, микроскопическое исслед. (на я/глист + простейшие)


	.price-table__row__table-cell
		ul.units-list
			li Один анализ (24 часа)
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 600 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Кал, биохимическое исследование


	.price-table__row__table-cell
		ul.units-list
			li Один анализ (24 часа)
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 320 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Кал, общеклиническое исслед.


	.price-table__row__table-cell
		ul.units-list
			li Один анализ (24 часа)
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 380 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Кал, общеклиническое исследование (микроскопия, биох-я, глисты+простейшие)


	.price-table__row__table-cell
		ul.units-list
			li Один анализ (24 часа)
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 750 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Панкреатическая эластаза -1 собак


	.price-table__row__table-cell
		ul.units-list
			li Один анализ (24 часа)
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 1 980 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Дисбакториоз, исследование кала


	.price-table__row__table-cell
		ul.units-list
			li Один анализ (7 дней)
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 1 300 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5.price-table__h5--small Бактериологическое исследование кала (клостридиозы, спорообразующие бактерии, кампилобактерии)


	.price-table__row__table-cell
		ul.units-list
			li Один анализ (10 дней)
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 1 540 р.



.price-table__row
	.price-table__row__table-cell.price-table__row__table-cell--table-headers.price-table__row__table-cell--full-header
		h4.price-table__h4 Паразитология



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Дерматофиты и экзопаразиты (микроскопия)


	.price-table__row__table-cell
		ul.units-list
			li Один анализ (24 часа)
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 500 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Дерматофиты (посев)


	.price-table__row__table-cell
		ul.units-list
			li 21 день
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 1 300 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Пироплазмоз, гемопаразиты (микоскопия)


	.price-table__row__table-cell
		ul.units-list
			li Один анализ (24 часа)
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 400 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Дирофилляриоз


	.price-table__row__table-cell
		ul.units-list
			li Один анализ (24 часа)
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 400 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Дирофилляриоз собак  Hartworm АГ SpeedTest


	.price-table__row__table-cell
		ul.units-list
			li Один анализ (24 часа)
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 1 360 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Демодекоз,отодекоз,саркоптоз


	.price-table__row__table-cell
		ul.units-list
			li Один анализ (24 часа)
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 500 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Бактерии к фагам


	.price-table__row__table-cell
		ul.units-list
			li Один анализ (24 часа)
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 240 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Чувствительность грибов к антибиотикам


	.price-table__row__table-cell
		ul.units-list
			li Один анализ (7 суток)
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 1 100 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Чувствительность бактерий к антибиотикам


	.price-table__row__table-cell
		ul.units-list
			li Один анализ (7 суток)
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 1 100 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Полный микробиологический скрининг (Бактерии и Грибы к антибиотикам и фагам)


	.price-table__row__table-cell
		ul.units-list
			li Один анализ (7 суток)
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 1 300 р.



.price-table__row
	.price-table__row__table-cell.price-table__row__table-cell--table-headers.price-table__row__table-cell--full-header
		h4.price-table__h4 Эндокринные исследования



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5.price-table__h5--small Гормоны (ТТГ собак, ТЗобщ.,Т3своб.,Т4своб., кортизол, эстрадиол, тестостерон, прогестерон)


	.price-table__row__table-cell
		ul.units-list
			li Один показатель (5 сут.)
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 800 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Гормоны ТТГ кошек


	.price-table__row__table-cell
		ul.units-list
			li Один показатель (5 сут.)
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 1 300 р.




.price-table__row
	.price-table__row__table-cell.price-table__row__table-cell--table-headers.price-table__row__table-cell--full-header
		h4.price-table__h4 Морфология



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Цитология


	.price-table__row__table-cell
		ul.units-list
			li Один анализ (7 суток)
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 1 300 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Гистология


	.price-table__row__table-cell
		ul.units-list.units-list--small
			li Один анализ (14-21 суток)
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 2 000 р.




.price-table__row
	.price-table__row__table-cell.price-table__row__table-cell--table-headers.price-table__row__table-cell--full-header
		h4.price-table__h4 Вирусологические исследования



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Аденовироз/Гепатит собак


	.price-table__row__table-cell
		ul.units-list
			li Один анализ (24 часов)
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 800 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Хламидиоз


	.price-table__row__table-cell
		ul.units-list
			li Один анализ (24 часов)
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 800 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Микоплазмоз


	.price-table__row__table-cell
		ul.units-list
			li Один анализ (24 часов)
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 800 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Вирусный ринотрахеит


	.price-table__row__table-cell
		ul.units-list
			li Один анализ (24 часов)
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 800 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Коронавирусный энтерит


	.price-table__row__table-cell
		ul.units-list
			li Один анализ (24 часов)
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 800 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Парвовирусный энтерит


	.price-table__row__table-cell
		ul.units-list
			li Один анализ (24 часов)
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 800 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Вирусная лейкемия


	.price-table__row__table-cell
		ul.units-list
			li Один анализ (24 часов)
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 800 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Лептоспироз


	.price-table__row__table-cell
		ul.units-list
			li Один анализ (24 часов)
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 800 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Токсоплазмоз


	.price-table__row__table-cell
		ul.units-list
			li Один анализ (24 часов)
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 800 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Герпесвирус собак


	.price-table__row__table-cell
		ul.units-list
			li Один анализ (24 часов)
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 800 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Чума плотоядных


	.price-table__row__table-cell
		ul.units-list
			li Один анализ (24 часов)
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 800 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Цитомегаловирус


	.price-table__row__table-cell
		ul.units-list
			li Один анализ (24 часов)
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 800 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Уреаплазмоз


	.price-table__row__table-cell
		ul.units-list
			li Один анализ (24 часов)
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 800 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Паппилома собак тип 1 и 2, тип 3, тип 4


	.price-table__row__table-cell
		ul.units-list
			li Один анализ (24 часов)
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 800 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Пиппилома кошек тип 1, тип 2


	.price-table__row__table-cell
		ul.units-list
			li Один анализ (24 часов)
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 800 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Аденовирус кошек


	.price-table__row__table-cell
		ul.units-list
			li Один анализ (24 часов)
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 800 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Саркома кошек


	.price-table__row__table-cell
		ul.units-list
			li Один анализ (24 часов)
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 800 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Вирус саркомы


	.price-table__row__table-cell
		ul.units-list
			li Один анализ (24 часов)
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 800 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Лейкоз кошек ГА


	.price-table__row__table-cell
		ul.units-list
			li Один анализ (24 часов)
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 800 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Бруцеллез


	.price-table__row__table-cell
		ul.units-list
			li Один анализ (24 часов)
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 800 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Вирусный иммунодефицит


	.price-table__row__table-cell
		ul.units-list
			li Один анализ (24 часов)
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 800 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Панлейкопения


	.price-table__row__table-cell
		ul.units-list
			li Один анализ (24 часов)
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 800 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Инфекционный перитонит


	.price-table__row__table-cell
		ul.units-list
			li Один анализ (24 часов)
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 800 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Хламидиоз


	.price-table__row__table-cell
		ul.units-list
			li Один анализ (24 часов)
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 800 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Гемобартонеллез


	.price-table__row__table-cell
		ul.units-list
			li Один анализ (24 часов)
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 800 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Калицивироз


	.price-table__row__table-cell
		ul.units-list
			li Один анализ (24 часов)
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 800 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Ротавирусный энтерит


	.price-table__row__table-cell
		ul.units-list
			li Один анализ (24 часов)
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 800 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Анаплазмоз


	.price-table__row__table-cell
		ul.units-list
			li Один анализ (24 часов)
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 800 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Комплекс вирусных инфекций


	.price-table__row__table-cell
		ul.units-list
			li Один анализ (24 часов)
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 1 500 р.