.price-table__row
	.price-table__row__table-cell--four-cells.price-table__row__table-cell--table-headers

	.price-table__row__table-cell--four-cells.price-table__row__table-cell--table-headers
		h4.price-table__h4 Эутаназия
	.price-table__row__table-cell--four-cells.price-table__row__table-cell--table-headers
		h4.price-table__h4 Кремация общая
	.price-table__row__table-cell--four-cells.price-table__row__table-cell--table-headers
		h4.price-table__h4 Кремация индивидуальная



.price-table__row
	.price-table__row__table-cell--four-cells
		h5.price-table__h5 Глюкометрия

	.price-table__row__table-cell--four-cells
		ul.units-list
			li 750 р.

	.price-table__row__table-cell--four-cells
		ul.units-list
			li 500 р.

	.price-table__row__table-cell--four-cells
		ul.units-list
			li 6 000 р.



.price-table__row
	.price-table__row__table-cell--four-cells
		h5.price-table__h5 Кошка

	.price-table__row__table-cell--four-cells
		ul.units-list
			li 1 700 р.

	.price-table__row__table-cell--four-cells
		ul.units-list
			li 1 400 р.

	.price-table__row__table-cell--four-cells
		ul.units-list
			li 6 000 р.



.price-table__row
	.price-table__row__table-cell--four-cells
		h5.price-table__h5 Собака до 10 кг

	.price-table__row__table-cell--four-cells
		ul.units-list
			li 2 000 р.

	.price-table__row__table-cell--four-cells
		ul.units-list
			li 2 400 р.

	.price-table__row__table-cell--four-cells
		ul.units-list
			li 6 000 р.



.price-table__row
	.price-table__row__table-cell--four-cells
		h5.price-table__h5 Собака от 10 до 30 кг

	.price-table__row__table-cell--four-cells
		ul.units-list
			li 3 000 р.

	.price-table__row__table-cell--four-cells
		ul.units-list
			li 3 400 р.

	.price-table__row__table-cell--four-cells
		ul.units-list
			li 8 000 р.



.price-table__row
	.price-table__row__table-cell--four-cells
		h5.price-table__h5 Собака от 30 до 50 кг

	.price-table__row__table-cell--four-cells
		ul.units-list
			li 4 000 р.

	.price-table__row__table-cell--four-cells
		ul.units-list
			li 4 400 р.

	.price-table__row__table-cell--four-cells
		ul.units-list
			li 9 000 р.



.price-table__row
	.price-table__row__table-cell--four-cells
		h5.price-table__h5 Собака свыше 50 кг

	.price-table__row__table-cell--four-cells
		ul.units-list
			li 4 500 р.

	.price-table__row__table-cell--four-cells
		ul.units-list
			li 4 900 р.

	.price-table__row__table-cell--four-cells
		ul.units-list
			li 10 000 р.