.price-table__row
	.price-table__row__table-cell.price-table__row__table-cell--table-headers
		h4.price-table__h4 Наименование услуги
	.price-table__row__table-cell.price-table__row__table-cell--table-headers
		h4.price-table__h4 Ед. измерения
	.price-table__row__table-cell.price-table__row__table-cell--table-headers
		h4.price-table__h4 Цена


.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Ампутация рудиментарных пальцев:
		+age__10-2

	.price-table__row__table-cell
		.placeholder__h5
		ul.units-list
			+one__limb
			+one__limb
			+one__limb
	
	.price-table__row__table-cell
		.placeholder__h5
		ul.units-list.units-list--prices-list
			li 900 р.
			li 1 600-2 100 р.
			li 2 200-3 800 р.


.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Ампутация фаланги пальца

	.price-table__row__table-cell
		ul.units-list
			+one__animal
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 2 300-3 500 р.


.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Купирование хвоста:
		+age__10-2

	.price-table__row__table-cell
		.placeholder__h5
		ul.units-list
			+one__animal
			+one__animal
			+one__animal

	.price-table__row__table-cell
		.placeholder__h5
		ul.units-list.units-list--prices-list
			li 1 100 р.
			li 1 400-2 100 р. 
			li 2 200-3 700 р.


.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Купирование ушных раковин:
		+age__10-2

	.price-table__row__table-cell
		.placeholder__h5
		ul.units-list
			+one__animal
			+one__animal
			+one__animal

	.price-table__row__table-cell
		.placeholder__h5
		ul.units-list.units-list--prices-list
			li 900 р.
			li 2 200-3 200 р.
			li 4 200-6 200 р.

.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Заворот желудка

	.price-table__row__table-cell
		ul.units-list
			+one__animal

	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 12 000-30 000 р.


.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Кишечная непроходимость (кошки)

	.price-table__row__table-cell
		ul.units-list
			+one__animal

	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 6 000-10 000 р.


.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Кишечная непроходимость (собаки)

	.price-table__row__table-cell
		ul.units-list
			+one__animal

	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 7 500-18 000 р.


.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Спленэктомия (удаление селезенки) кошки

	.price-table__row__table-cell
		ul.units-list
			+one__animal

	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 5 500-7 500 р.


.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Спленэктомия (удаление селезенки) собаки

	.price-table__row__table-cell
		ul.units-list
			+one__animal

	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 6 500-10 000 р.


.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Удаление матки с патологией (кошки)

	.price-table__row__table-cell
		ul.units-list
			+one__animal

	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 6 500-10 000 р.


.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Удаление матки с патологией (собаки)

	.price-table__row__table-cell
		ul.units-list
			+one__animal

	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 8 500-20 000 р.


.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Диагностическая лапаротомия (кошки)

	.price-table__row__table-cell
		ul.units-list
			+one__animal

	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 4 500-6 500 р.


.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Диагностическая лапаротомия (собаки)

	.price-table__row__table-cell
		ul.units-list
			+one__animal

	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 4 500-8 000 р.


.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Подшивание прямой кишки

	.price-table__row__table-cell
		ul.units-list
			+one__animal

	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 4 500-6 000 р.


.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Стерилизация кошки (наркоз включен)

	.price-table__row__table-cell
		ul.units-list
			+one__animal

	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 4 000 р.


.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Кастрация крипторха:
		ul.letter-list
			li кота
			li кобеля


	.price-table__row__table-cell
		.placeholder__h5
		ul.units-list
			+one__animal
			+one__animal

	.price-table__row__table-cell
		.placeholder__h5
		ul.units-list.units-list--prices-list
			li 5 000-6 000 р.
			li 6 500-10 000 р.


.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Кастрация:
		ul.letter-list
			li кота (полная стоимость с учетом наркоза)
			li кобеля (без учета наркоза)
			ul.units-list
				li до 3 кг
				li от 3 до 10 кг
				li от 10 до 20 кг
				li от 20 до 30 кг
				li от 30 до 40 кг
				li более 40 кг


	.price-table__row__table-cell.price-table__row__table-cell--jcs
		.placeholder__h5
		ul.units-list
			+one__animal
			+one__animal

	.price-table__row__table-cell
		.placeholder__h5
		ul.units-list.units-list--prices-list
			li 2 200 р.
			li 2 500 р.
			li 3 950 р.
			li 4 500-5 500 р.
			li 5 700-6 500 р.
			li 7 200-8 000 р.
			li 8 000-9 000 р.
			li 10 000-13 000 р.


.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Стерилизация собаки (без учета наркоза):
		ul.letter-list
			li до 3 кг
			li от 3 до 10 кг
			li от 10 до 20 кг
			li от 20 до 30 кг
			li от 30 до 40 кг
			li более 40 кг

	.price-table__row__table-cell
		.placeholder__h5
		ul.units-list
			+one__animal
			+one__animal
			+one__animal
			+one__animal
			+one__animal
			+one__animal

	.price-table__row__table-cell
		.placeholder__h5
		ul.units-list.units-list--prices-list
			li 5 600 р.
			li 7 300 р.
			li 7 600-9 500 р.
			li 9 800-11 500 р.
			li 12 000-16 500 р.
			li 17 000-30 000 р.


.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Стерилизация хорька (без учета стоимости  наркоза)

	.price-table__row__table-cell
		ul.units-list
			+one__animal

	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 4 950 р.


.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Стерилизация + удаления п/а желез хорька (без учета стоимости наркоза)

	.price-table__row__table-cell
		ul.units-list
			+one__animal

	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 6 750 р.


.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Удаление п/а желез у хорька (Без стоимости наркоза)

	.price-table__row__table-cell
		ul.units-list
			+one__animal

	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 3 000 р.


.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Кастрация хорька (без учета стоимости наркоза)

	.price-table__row__table-cell
		ul.units-list
			+one__animal

	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 3 750 р.


.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Заворот век (Без стоимости наркоза)

	.price-table__row__table-cell
		ul.units-list
			li Одно веко

	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 5 500-6 500 р.


.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Пупочная грыжа:
		ul.letter-list
			li кота
			li кобеля

	.price-table__row__table-cell.price-table__row__table-cell--jcs
		.placeholder__h5
		ul.units-list
			+one__animal
			+one__animal

	.price-table__row__table-cell
		.placeholder__h5
		ul.units-list.units-list--prices-list
			li 2 500-4 500 р. 
			li 5 000-6 000 р.


.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Паховая грыжа:
		ul.letter-list
			li кота
			li кобеля

	.price-table__row__table-cell.price-table__row__table-cell--jcs
		.placeholder__h5
		ul.units-list
			+one__animal
			+one__animal

	.price-table__row__table-cell
		.placeholder__h5
		ul.units-list.units-list--prices-list
			li 4 000-5 000 р.
			li 6 000-8 000 р.


.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Промежностная грыжа:
		ul.letter-list
			li кота
			li кобеля

	.price-table__row__table-cell.price-table__row__table-cell--jcs
		.placeholder__h5
		ul.units-list
			+one__animal
			+one__animal

	.price-table__row__table-cell
		.placeholder__h5
		ul.units-list.units-list--prices-list
			li 5 500-7 000 р.
			li 7 000-10 000 р.


.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Удаление новообразований (без стоимости наркоза)

	.price-table__row__table-cell
		ul.units-list
			+one__animal

	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 4 500-9 000 р.


.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Опухоли молочных желез кошки

	.price-table__row__table-cell
		ul.units-list
			+one__animal

	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 4 500-6 000 р.


.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Опухоли молочных желез собаки (Без стоимости наркоза)

	.price-table__row__table-cell
		ul.units-list
			+one__animal

	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 5 000-8 000 р.


.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Кесарево сечение
		ul.letter-list
			li Кошки:
				ul.units-list
					li без удаления матки
					li с удалением матки
			li Собаки:
				ul.units-list
					li без удаления матки
					li с удалением матки


	.price-table__row__table-cell.price-table__row__table-cell--jcs
		.placeholder__h5
		ul.units-list
			.placholder__li
			+one__animal
			+one__animal
			.placholder__li
			+one__animal
			+one__animal

	.price-table__row__table-cell
		.placeholder__h5
		ul.units-list.units-list--prices-list
			.placholder__li
			li 9 000 р.
			li 7 500 р.
			.placholder__li
			li 10 000-20 000 р.
			li 8 500-15 000 р.


.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Уретростомия кошки (Без стоимости наркоза)

	.price-table__row__table-cell
		ul.units-list
			+one__animal

	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 7 000-8 000 р.


.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Уретростомия собаки

	.price-table__row__table-cell
		ul.units-list
			+one__animal

	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 8 000-9 000 р.


.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Удаление камней из мочевого пузыря (кошки) (Без стоимости наркоза)

	.price-table__row__table-cell
		ul.units-list
			+one__animal

	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 4 000-7 000 р.


.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Блокады:
		ul.letter-list
			li инфильтрационная
			li новокаиновая (проводниковая)
			li субконъюнктивальная

	.price-table__row__table-cell
		.placeholder__h5
		ul.units-list
			li Одна блокада
			li Одна блокада
			li Одна блокада

	.price-table__row__table-cell
		.placeholder__h5
		ul.units-list.units-list--prices-list
			li 450-1 000 р.
			li 410 р.
			li 650 р.


.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Наркоз:
		ul.letter-list
			li миорелаксация (седация)
			li наркоз 1 категории (до 3 кг)
			li наркоз 2 категории (от 3 до 10 кг)
			li наркоз 3 категории (от 10 до 20 кг)
			li наркоз 4 категории (от 20 до 30 кг)
			li наркоз 5 категории (от 30 до 40 кг)
			li наркоз 6 категории (более 40 кг)

	.price-table__row__table-cell
		.placeholder__h5
		ul.units-list
			+one__animal
			+one__animal
			+one__animal
			+one__animal
			+one__animal
			+one__animal
			+one__animal

	.price-table__row__table-cell
		.placeholder__h5
		ul.units-list.units-list--prices-list
			li 310 р.
			li 600 р.
			li 900 р.
			li 1150 р.
			li 1800 р.
			li 2350 р.
			li 2750 р.


.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Наложение швов:
		ul.letter-list
			li 1 категория (от 1 до 5)
			li 2 категория (от 5 до 15)
			li 3 категория (от 15 до 25)
			li 4 категория (более 25)

	.price-table__row__table-cell
		.placeholder__h5
		ul.units-list
			+one__animal
			+one__animal
			+one__animal
			+one__animal

	.price-table__row__table-cell
		.placeholder__h5
		ul.units-list.units-list--prices-list
			li 250 р.
			li 350 р.
			li 550 р.
			li 950 р.


.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Снятие швов:
		ul.letter-list
			li 1 категория (от 1 до 5)
			li 2 категория (от 5 до 15)
			li 3 категория (более 15)

	.price-table__row__table-cell
		.placeholder__h5
		ul.units-list
			+one__animal
			+one__animal
			+one__animal

	.price-table__row__table-cell
		.placeholder__h5
		ul.units-list.units-list--prices-list
			li 200 р.
			li 300 р.
			li 350 р.


.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Первичная хирургическая обработка раны (ПХО):
		ul.letter-list
			li 1 категория (от 1 до 5)
			li 2 категория (от 5 до 15)
			li 3 категория (более 15)

	.price-table__row__table-cell
		.placeholder__h5
		ul.units-list
			+one__animal
			+one__animal
			+one__animal

	.price-table__row__table-cell
		.placeholder__h5
		ul.units-list.units-list--prices-list
			li 200 р.
			li 300 р.
			li 500 р.


.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Антисептическая обработка послеоперационных швов:
		ul.letter-list
			li 1 категория (от 1 до 5)
			li 2 категория (от 5 до 15)
			li 3 категория (более 15)

	.price-table__row__table-cell
		.placeholder__h5
		ul.units-list
			+one__animal
			+one__animal
			+one__animal

	.price-table__row__table-cell
		.placeholder__h5
		ul.units-list.units-list--prices-list
			li 170 р.
			li 220 р.
			li 270 р.


.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Вскрытие абсцесса:
		ul.letter-list
			li 1 категория (поверхностное образование, не требующее хир. очистки полости)
			li 2 категория (глубокие образования, требующие хирургической очистки раны)

	.price-table__row__table-cell
		.placeholder__h5
		ul.units-list
			+one__animal
			+one__animal

	.price-table__row__table-cell
		.placeholder__h5
		ul.units-list.units-list--prices-list
			li 350-750 р.
			li 750-1 500 р.


.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Постановка дренажа:
		ul.letter-list
			li 1 категория (без применения наркоза)
			li 2 категория (при проведении операций под наркозом)

	.price-table__row__table-cell
		.placeholder__h5
		ul.units-list
			li Один дренаж
			li Один дренаж

	.price-table__row__table-cell
		.placeholder__h5
		ul.units-list.units-list--prices-list
			li 350 р.
			li 450 р.


.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Снятие одного дренажа (Без стоимости наркоза)

	.price-table__row__table-cell
		ul.units-list
			+one__animal

	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 100 р.


.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Промывание дренажа (Без стоимости наркоза)

	.price-table__row__table-cell
		ul.units-list
			li Один дренаж

	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 150 р.


.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Обработка экземы:
		ul.letter-list
			li 1 категория (до 5 см в диаметре)
			li 2 категория (более 5 см в диаметре)

	.price-table__row__table-cell
		.placeholder__h5
		ul.units-list
			+one__animal
			+one__animal

	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 350 р.
			li 650 р.


.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Неоперативное извлечение инородного тела:
		ul.letter-list
			li 1 категория (носовая полость, передний край резцов)
			li 2 категория (ротовая полость)
			li 3 категория (глотка, заглоточное пространство)
			li 4 категория (гортань, трахея, заглоточное пространство)

	.price-table__row__table-cell
		.placeholder__h5
		ul.units-list
			+one__animal
			+one__animal
			+one__animal
			+one__animal

	.price-table__row__table-cell
		.placeholder__h5
		ul.units-list.units-list--prices-list
			li 470 р.
			li 850 р.
			li 1000 р.
			li 2000 р.


.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Вправление прямой кишки
		ul.letter-list
			li кошка
			li собака

	.price-table__row__table-cell
		.placeholder__h5
		ul.units-list
			+one__animal
			+one__animal

	.price-table__row__table-cell
		.placeholder__h5
		ul.units-list.units-list--prices-list
			li 4 500-5 500 р.
			li 5 500-12 500 р.


.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Родовспоможение (не включает стоимость препаратов):
		ul.letter-list
			li реанимация плодов (при кесаревом сечении)
			li реанимация
			li каждый последующий час реанимации

	.price-table__row__table-cell
		.placeholder__h5
		ul.units-list
			li Один плод
			li 1 час
			li 1 час

	.price-table__row__table-cell
		.placeholder__h5
		ul.units-list.units-list--prices-list
			li 700 р.
			li 1 500-2 000 р.
			li 500 р.