.price-table__row
	.price-table__row__table-cell.price-table__row__table-cell--table-headers
		h4.price-table__h4 Наименование услуги
	.price-table__row__table-cell.price-table__row__table-cell--table-headers
		h4.price-table__h4 Ед. измерения
	.price-table__row__table-cell.price-table__row__table-cell--table-headers
		h4.price-table__h4 Цена

.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Первичный осмотр

	.price-table__row__table-cell
		ul.units-list
			+one__animal
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 500 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Повторный осмотр

	.price-table__row__table-cell
		ul.units-list
			+one__animal
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 400 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Прием специалиста узкого профиля

	.price-table__row__table-cell
		ul.units-list
			+one__animal
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 1 000 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Люминесцентная диагностика

	.price-table__row__table-cell
		ul.units-list
			li 1 исследование
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 200 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 УЗИ исследование:
		ul.letter-list
			li одного органа
			li одной системы
			li исследование брюшной полости
			li распечатка одного снимка


	.price-table__row__table-cell
		.placeholder__h5
		ul.units-list
			+one__animal
			+one__animal
			+one__animal
			+one__animal
	
	.price-table__row__table-cell
		.placeholder__h5
		ul.units-list.units-list--prices-list
			li 400 р.
			li 800 р.
			li 1 200 р.
			li 100 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Консультация по результатам анализов с назначением лечения

	.price-table__row__table-cell
		ul.units-list
			+one__animal
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 400 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Расширенная консультация

	.price-table__row__table-cell
		ul.units-list

	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 400-800 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Консультация без животного

	.price-table__row__table-cell
		ul.units-list
			li 1 консультация
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 300 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Оформление ветеринарного паспорта

	.price-table__row__table-cell
		ul.units-list
			+one__animal
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 150 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Чипирование животного

	.price-table__row__table-cell
		ul.units-list
			+one__animal
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 1 400 р.




.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Считывание номера чипа

	.price-table__row__table-cell
		ul.units-list
			+one__animal
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 100 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Фиксация животного:
		ul.letter-list
			li 1 категория
			li 2 категория
			li 3 категория


	.price-table__row__table-cell
		ul.units-list
			+one__animal
			+one__animal
			+one__animal
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 300 р.
			li 500 р.
			li 800 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Снятие клеща

	.price-table__row__table-cell
		ul.units-list
			+one__animal
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 150 р.




.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Введение препарата:
		ul.letter-list
			li орально
			li ректально
			li внутривенно струйно
			li подкожно,внутримышечно,в установленный внутривенный катетер
			li дача сульфата бария внутрь
			li введение препарата под нижнее веко и в слуховой проход
			li внутрисуставная инъекция
			li внутривенно капельно :
				ul.units-list
						li категория (объем вводимого раствора до 200 мл) до одного часа
						li категория (объем вводимого раствора 200-400 мл) до двух часов
						li категория (объем вводимого раствора более 400 мл) более двух часов
			li подкожно капельно


	.price-table__row__table-cell
		.placeholder__h5
		ul.units-list
			li Одно введение
			li Одно введение
			li Одно введение
			li Одна инъекция
			li Одно введение
			li Одно введение
			li Одна инъекция

			.placholder__li
			li Одно введение
			li Один катетер
			li Один катетер

			li Один катетер

	
	.price-table__row__table-cell
		.placeholder__h5
		ul.units-list.units-list--prices-list
			li 150 р.
			li 200 р.
			li 150 р.
			li 100 р.
			li 200 р.
			li 200 р.
			li 1 000 р.

			.placholder__li
			li 800 р.
			li 1 000 р.
			li 1 500 р.

			li 350 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Установка-снятие катетера
		ul.letter-list
			li Постановка внутривенного катетера
			li Снятие внутривенного катетера
			li Постановка внутривенного катетера в яремную вену  с фиксацией катетера

	.price-table__row__table-cell
		.placeholder__h5
		ul.units-list
			li Один катетер
			li Один катетер
			li Один катетер
	
	.price-table__row__table-cell
		.placeholder__h5
		ul.units-list.units-list--prices-list
			li 350 р.
			li 200 р.
			li 800 р.


.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Отоскопия инструментальная

	.price-table__row__table-cell
		ul.units-list
			+one__animal
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 200 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Наложение первичной бинтовой повязки

	.price-table__row__table-cell
		ul.units-list
			+one__animal
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 200 р.




.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Перевязка

	.price-table__row__table-cell
		ul.units-list
			+one__animal
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 200 р.




.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Наложение гипсовой повязки(лангеты)

	.price-table__row__table-cell
		ul.units-list
			+one__animal
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 700-1 500 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Снятие гипсовой повязки

	.price-table__row__table-cell
		ul.units-list
			+one__animal
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 500 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Аспирация мочи:
		ul.letter-list
			li 1 категория
			li 2 категория

	.price-table__row__table-cell
		.placeholder__h5
		ul.units-list
			+one__animal
			+one__animal
	
	.price-table__row__table-cell
		.placeholder__h5
		ul.units-list.units-list--prices-list
			li 300 р.
			li 500 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Фиксация (подшивание) мочевого катетера

	.price-table__row__table-cell
		ul.units-list
			+one__animal
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 200 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Диализ (промывание) мочевого пузыря

	.price-table__row__table-cell
		ul.units-list
			+one__animal
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 500 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Снятие мочевого катетера

	.price-table__row__table-cell
		ul.units-list
			+one__animal
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 250 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Клизма глубокая с извлечением уплотненных каловых масс
		ul.letter-list
			li до 10кг
			li до 30кг
			li Более 30 кг

	.price-table__row__table-cell
		.placeholder__h5
		ul.units-list
			+one__animal
			+one__animal
			+one__animal
	
	.price-table__row__table-cell
		.placeholder__h5
		ul.units-list.units-list--prices-list
			li 1 500 р.
			li 2 500 р.
			li 3 500 р.


.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Cанация параанальных синусов (желез)

	.price-table__row__table-cell
		ul.units-list
			+one__animal
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 1 000 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Удаление секрета ПЖ с ректальным исследованием

	.price-table__row__table-cell
		ul.units-list
			+one__animal
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 400 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Вагинальное, ректальное  исследование

	.price-table__row__table-cell
		ul.units-list
			+one__animal
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 350 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Санация глаз

	.price-table__row__table-cell
		ul.units-list
			+one__animal
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 150 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Санация ушных раковин:
		ul.letter-list
			li 1 категория
			li 2 категория

	.price-table__row__table-cell
		.placeholder__h5
		ul.units-list
			+one__animal
			+one__animal
	
	.price-table__row__table-cell
		.placeholder__h5
		ul.units-list.units-list--prices-list
			li 200 р.
			li 300 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Промывание препуциальной полости, влагалища (спринцевание)

	.price-table__row__table-cell
		ul.units-list
			+one__animal
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 300 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Взятие материала для лабораторных исследований:
		ul.letter-list
			li кровь
			li соскоб
			li мазок и смывы
			li для цитологии

	.price-table__row__table-cell
		.placeholder__h5
		ul.units-list
			li Одна проба
			li Одна проба
			li Одна проба
			li Одна проба

	.price-table__row__table-cell
		.placeholder__h5
		ul.units-list.units-list--prices-list
			li 450 р.
			li 300 р.
			li 300 р.
			li 450 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Стрижка когтей у кошки

	.price-table__row__table-cell
		ul.units-list
			+one__animal
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 300 р.


.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Стрижка когтей у собаки

	.price-table__row__table-cell
		ul.units-list
			+one__animal
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 400 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Обрезка клюва, резцов, перьев

	.price-table__row__table-cell
		ul.units-list
			+one__animal
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 200-350 р.