.price-table__row
	.price-table__row__table-cell.price-table__row__table-cell--table-headers
		h4.price-table__h4 Наименование услуги
	.price-table__row__table-cell.price-table__row__table-cell--table-headers
		h4.price-table__h4 Ед. измерения
	.price-table__row__table-cell.price-table__row__table-cell--table-headers
		h4.price-table__h4 Цена


.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Ампутация конечности у кошек

	.price-table__row__table-cell
		ul.units-list
			+one__limb
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 6 500-9 000 р.


.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Ампутация конечности у собак

	.price-table__row__table-cell
		ul.units-list
			+one__limb
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 12 000-16 000 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Ампутация когтевых фаланг у кошек 2 лапы

	.price-table__row__table-cell
		ul.units-list
			+one__animal
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 6 500 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Ампутация когтевых фаланг у кошек 4 лапы

	.price-table__row__table-cell
		ul.units-list
			+one__animal
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 10 000 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Ампутация рудиментарных фаланг у взрослых собак

	.price-table__row__table-cell
		ul.units-list
			li Одна фаланга
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 3 200-4 500 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Ампутация хвоста у взрослой собаки

	.price-table__row__table-cell
		ul.units-list
			+one__animal
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 5 500-8 000 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Ампутация хвоста у взрослой собаки при «врастании»

	.price-table__row__table-cell
		ul.units-list
			+one__animal
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 14 000 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Ампутация хвоста у кошки

	.price-table__row__table-cell
		ul.units-list
			+one__animal
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 4 000-6 000 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Вправление вывиха нижней челюсти

	.price-table__row__table-cell
		ul.units-list
			+one__animal
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 2 500-4 500 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Накостный остеосинтез пластинами при переломе нижней челюсти

	.price-table__row__table-cell
		ul.units-list
			+one__animal
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 12 000 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Накостный остеосинтез пластинами при переломе подвздошной кости

	.price-table__row__table-cell
		ul.units-list
			li Один перелом
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 14 000 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Накостный остеосинтез пластинами при переломе плечевой кости

	.price-table__row__table-cell
		ul.units-list
			li Один перелом
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 17 000 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Накостный остеосинтез пластинами при переломе предплечья или бедра

	.price-table__row__table-cell
		ul.units-list
			li Один перелом
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 17 000 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5.price-table__h5--small Накостный остеосинтез пластинами при сложном, оскольчатом переломе предплечья или бедра

	.price-table__row__table-cell
		ul.units-list
			li Один перелом
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 12 000-16 000 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5.price-table__h5--small Накостный остеосинтез пластинами при сложном, оскольчатом переломе плечевой кости

	.price-table__row__table-cell
		ul.units-list
			li Один перелом
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 13 000-16 000 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Операции при дисплазии локтевого сустава: корригирующая остеотомия

	.price-table__row__table-cell
		ul.units-list
			+one__limb
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 11 000 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Операции при дисплазии локтевого сустава: удаление венечного отростка

	.price-table__row__table-cell
		ul.units-list
			+one__limb
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 7 000 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Операции при дисплазии локтевого сустава: удаление крючковидного отростка

	.price-table__row__table-cell
		ul.units-list
			+one__limb
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 7 000 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Операции при вывихе коленной чашки у собак до 10 кг

	.price-table__row__table-cell
		ul.units-list
			+one__limb
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 9 000 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Операции при вывихе коленной чашки у собак от 10 до 25 кг

	.price-table__row__table-cell
		ul.units-list
			+one__limb
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 11 000 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Операции при вывихе коленной чашки у собак более 25 кг

	.price-table__row__table-cell
		ul.units-list
			+one__limb
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 14 000-17 000 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5.price-table__h5--small Операции при вывихе коленной чашки у собак с транспозицией бугристости большеберцовой кости и (или) формированием желоба

	.price-table__row__table-cell
		ul.units-list
			+one__limb
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 17 000 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Остеосинтез  при диафизарном переломе бедренной кости у кошек

	.price-table__row__table-cell
		ul.units-list
			li Один перелом
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 9 500 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Остеосинтез  при диафизарном переломе бедренной кости у собак

	.price-table__row__table-cell
		ul.units-list
			li Один перелом
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 12 000 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Остеосинтез при переломах нижней челюсти

	.price-table__row__table-cell
		ul.units-list
			li Один перелом
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 6 500 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Остеосинтез внутрисуставных переломов у кошек и собак до 10 кг

	.price-table__row__table-cell
		ul.units-list
			li Один перелом
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 9 500 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Остеосинтез внутрисуставных переломов у собак от 10 до 25 кг

	.price-table__row__table-cell
		ul.units-list
			li Один перелом
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 13 000 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Остеосинтез внутрисуставных переломов у собак более 25 кг

	.price-table__row__table-cell
		ul.units-list
			li Один перелом
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 17 000 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Остеосинтез при переломе двух и более фаланг

	.price-table__row__table-cell
		ul.units-list
			+one__limb
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 6 000 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Остеосинтез при переломе плечевой кости у кошек

	.price-table__row__table-cell
		ul.units-list
			li Один перелом
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 9 000 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Остеосинтез при переломе плечевой кости у собак

	.price-table__row__table-cell
		ul.units-list
			li Один перелом
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 12 000 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Остеосинтез при простом диафизарном переломе предплечья или голени у кошек

	.price-table__row__table-cell
		ul.units-list
			li Один перелом
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 9 000 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Остеосинтез при простом диафизарном переломе бедренной кости у кошек

	.price-table__row__table-cell
		ul.units-list
			li Один перелом
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 10 000 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Остеосинтез при простом диафизарном переломе предплечья или голени у собак

	.price-table__row__table-cell
		ul.units-list
			li Один перелом
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 10 000 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5.price-table__h5--small Остеосинтез при простых переломах плечевой или бедренной кости у собак более 25 кг

	.price-table__row__table-cell
		ul.units-list
			li Один перелом
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 18 000 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Остеосинтез при сложных, оскольчатых переломах плечевой или бедренной кости

	.price-table__row__table-cell
		ul.units-list
			li Один перелом
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 15 000 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Остеосинтез с открытой репозицией при переломах таза

	.price-table__row__table-cell
		ul.units-list
			+one__animal
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 13 000-15 000 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Пластика небной занавески

	.price-table__row__table-cell
		ul.units-list
			+one__animal
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 6 500 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Пластика ПКС у собак, мелкие и средние

	.price-table__row__table-cell
		ul.units-list
			+one__animal
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 12 000 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Пластика ПКС у собак, средне крупные и гигантские

	.price-table__row__table-cell
		ul.units-list
			+one__animal
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 15 000-17 000 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Резекция головки бедра у собак до 10 кг

	.price-table__row__table-cell
		ul.units-list
			+one__limb
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 9 000 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Резекция головки бедра у собак от 10 до 25 кг

	.price-table__row__table-cell
		ul.units-list
			+one__limb
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 10 000 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Резекция головки бедра у собак свыше 25 кг

	.price-table__row__table-cell
		ul.units-list
			+one__limb
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 12 000-14 000 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Стабилизация атланто-аксиального сочленения

	.price-table__row__table-cell
		ul.units-list
			li Одно животное
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 14 000 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Удаление внешних фиксаторов (аппараты Илизарова, Киршнера, с акриловойсмолой)

	.price-table__row__table-cell
		ul.units-list
			li Один аппарат
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 2 500 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Удаление внутренних фиксаторов (пластин, винтов, Серкляжей, штифтов, спиц)

	.price-table__row__table-cell
		ul.units-list
			li Один фиксатор
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 3 500 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Удаление пластин, винтов, проволочных серкляжей

	.price-table__row__table-cell
		ul.units-list
			li Один фиксатор
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 5 000 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Ушивание твердого неба

	.price-table__row__table-cell
		ul.units-list
			+one__animal
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 6 000 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5.price-table__h5--small Фиксация методом «Zug gurtung» при переломах локтевого бугра, лодыжки, большого вертела, надколенника, бугристости большеберцовой кости и т.п.

	.price-table__row__table-cell
		ul.units-list
			li Один перелом
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 9 000 р.