.price-table__row
	.price-table__row__table-cell.price-table__row__table-cell--table-headers
		h4.price-table__h4 Наименование услуги
	.price-table__row__table-cell.price-table__row__table-cell--table-headers
		h4.price-table__h4 Ед. измерения
	.price-table__row__table-cell.price-table__row__table-cell--table-headers
		h4.price-table__h4 Цена


.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Вакцинация собак:
		ul.letter-list
			li Nobivac Puppy
			li Nobivac  DHPPI + Lepto
			li Nobivac DHPPI + Lepto +Rabies
			li Nobivac Rabies, Мериал Рабизин
			li Eurican DHPPI + Lepto
			li Eurican DHPPI + Lepto +Rabies


	.price-table__row__table-cell
		.placeholder__h5
		ul.units-list
			+one__animal
			+one__animal
			+one__animal
			+one__animal
			+one__animal
			+one__animal
	
	.price-table__row__table-cell
		.placeholder__h5
		ul.units-list.units-list--prices-list
			li 900 р.
			li 1200 р.
			li 1400 р.
			li 900 р.
			li 1200 р.
			li 1400 р.


.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Иммунизация Витафел/витакан (сыворотка, глобулин)

	.price-table__row__table-cell
		ul.units-list
			+one__animal
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 500 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Вакцинация собак:
		ul.letter-list
			li NobivacTricat Тrio
			li NobivacTricat Тrio + Rabies
			li Мультифел-4


	.price-table__row__table-cell
		.placeholder__h5
		ul.units-list
			+one__animal
			+one__animal
			+one__animal
	
	.price-table__row__table-cell
		.placeholder__h5
		ul.units-list.units-list--prices-list
			li 1200 р.
			li 1400 р.
			li 600 р.



.price-table__row
	.price-table__row__table-cell
		h5.price-table__h5 Вакцинация против дерматофитов (Вакдерм)

	.price-table__row__table-cell
		ul.units-list
			+one__animal
	
	.price-table__row__table-cell
		ul.units-list.units-list--prices-list
			li 600 р.